/** Color definitions/names directly used **/

/** Fallback Theme **/
:root {
	/** Use these new ones  **/

	/** deprecated **/
	--primary-background: #f9f9f9;
	--background-nav: #e8e8e8;
	--background-footer: #1c1b1a;
	--text-color: #333333;
	--link-hover: #d4af37;
	--border-color: #cccccc;
	--theme-toggle-icon: #444444;
	--statusline-bg1: #e0e0e0;
	--statusline-bg2: #d0d0d0;
	--statusline-bg3: #c0c0c0;
	--accent-color: #c9b037;
	--header-font-size: 36px;

	/* Diff and Visual Mode Backgrounds */
	--diff-green: #dff0d8;
	--diff-red: #f2dede;
	--diff-blue: #d9edf7;
	--visual-green: #e3f7df;
	--visual-red: #f9e2e2;
	--visual-blue: #e3efff;
	--visual-yellow: #fdf5d1;
	--current-word-bg: #f0f0f0;

	/** footer template **/
	--footer-text-color: #ebdbb2;
	--footer-border-color: #665c54;
	--footer-accent-color: #d4af37;
	--footer-input-background: #3c3836;
	--footer-input-text-color: #f9f9f9;
	--footer-button-background: #504945;
	--footer-button-text-color: #f9f9f9;
	--footer-heading-font: 'Cinzel', serif;
}

[theme="light"] {
	--primary-background: #f9f9f9;
	--background-nav: #e8e8e8;
	--background-footer: #dcdcdc;
	--text-color: #333333;
	--link-hover: #007acc;
	--border-color: #cccccc;
	--theme-toggle-icon: #444444;
	--statusline-bg1: #e0e0e0;
	--statusline-bg2: #d0d0d0;
	--statusline-bg3: #c0c0c0;

	/* Diff and Visual Mode Backgrounds */
	--diff-green: #dff0d8;
	--diff-red: #f2dede;
	--diff-blue: #d9edf7;
	--visual-green: #e3f7df;
	--visual-red: #f9e2e2;
	--visual-blue: #e3efff;
	--visual-yellow: #fdf5d1;
	--current-word-bg: #f0f0f0;
}

[theme="dark"] {
	--primary-background: #000;
	--background-nav: hsl(0, 0%, 15%);
	--background-footer: hsl(0, 0%, 15%);
	--text-color: hsl(0, 0%, 50%);
	--link-hover: hsl(30, 100%, 50%);
	--theme-toggle-icon: hsl(0, 0%, 85%);
	--border-color: #cccccc;
}

/**
The colors maintain a 4.5:1 contrast ratio, complying with WCAG 2.1 | Level AA.
**/
[theme="dracula"] {
	--background: #282A36;
	--current-line: #44475A;
	--foreground: #F8F8F2;
	--comment: #6272A4;
	--cyan: #8BE9FD;
	--green: #50FA7B;
	--orange: #FFB86C;
	--pink: #FF79C6;
	--purple: #BD93F9;
	--red: #FF5555;
	--yellow: #F1FA8C;

	--primary-background: var(--background);
	--background-nav: var(--current-line);
	--background-footer: var(--current-line);
	--text-color: var(--foreground);
	--link-hover: var(--comment);
	--border-color: var(--cyan);
}

[theme="gruvbox"] {
	/* Gruvbox Dark Theme */
	--primary-background: #32302f;
	--background-nav: #3c3836;
	--background-footer: #504945;
	--text-color: #ebdbb2;
	--link-hover: #fabd2f;
	--border-color: #665c54;
	--theme-toggle-icon: #665c54;
	--statusline-bg1: #3c3836;
	--statusline-bg2: #46413e;
	--statusline-bg3: #5b534d;

	--diff-green: #3d4220;
	--diff-red: #472322;
	--diff-blue: #0f3a42;
	--visual-green: #424a3e;
	--visual-red: #543937;
	--visual-blue: #404946;
	--visual-yellow: #574833;
	--current-word-bg: #45403d;
}

[theme="barrierefrei"] {
	/* Gruvbox Dark Theme */
	--primary-background: #32302f;
	--background-nav: #3c3836;
	--background-footer: #504945;
	--text-color: #ebdbb2;
	--link-hover: #fabd2f;
	--border-color: #665c54;
	--theme-toggle-icon: #665c54;
	--statusline-bg1: #3c3836;
	--statusline-bg2: #46413e;
	--statusline-bg3: #5b534d;

	--diff-green: #3d4220;
	--diff-red: #472322;
	--diff-blue: #0f3a42;
	--visual-green: #424a3e;
	--visual-red: #543937;
	--visual-blue: #404946;
	--visual-yellow: #574833;
	--current-word-bg: #45403d;
}
