html {
    /** Resize the text responsively, with min and max sizes  **/
    font-size: clamp(1rem, 0.75rem + 0.3vw, 2rem);

}

body {
    /** CHECK  **/
    min-height: 100vh;
    background-color: var(--primary-background);
}

scroll-indicator {

}

nav {
    margin-bottom: 5vh;
    padding: 1.5rem 1rem;
    background-color: var(--background-nav);
}

main {
    /** Push footer to bottom **/
    min-height: calc(90vh - 20px - 1rem);
    margin: 0 10vw;
}

footer {
    height: 10vh;
    margin-top: 5vh;
    background-color: var(--background-footer);
}

.search::placeholder {
    opacity: 0.5;
}

article {
    /** character limit for text line **/
    max-inline-size: 66ch;
    line-height: 1.5;
}

blockquote {
    max-inline-size: 45ch;
    line-height: 1.9;
}

ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 20px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    text-decoration: underline;
    text-decoration-style: unset;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--link-hover);
}

button {
    border: none;
    background: none;
    padding: 0;
}
