/** import normalize and themes directly in main stylesheet **/
@import "modern-normalize.css";
@import "colorthemes.css";

html {
    /** Resize the text responsively, with min and max sizes  **/
    font-size: clamp(1rem, 0.75rem + 0.3vw, 2rem);

}

body {
    /** CHECK  **/
    min-height: 100vh;
    background-color: var(--primary-background);
    color: var(--text-color);
}

scroll-indicator {

}

nav {
    display: flex;
    margin-bottom: 5vh;
    padding: 1.5rem 1rem;
    background-color: var(--background-nav);
    justify-content: center;
    /** TODO: better sizing to not resize because of dropdown menu  **/
}

nav > ul:nth-child(2) {
    margin: 0;
    margin-left: auto;
}

main {
    /** Push footer to bottom **/
    min-height: calc(90vh - 20px - 1rem);
    margin: 0 10vw;
}

footer {
    height: 10vh;
    margin-top: 5vh;
    background-color: var(--background-footer);
}

.search::placeholder {
    opacity: 0.5;
}

article {
    /** character limit for text line **/
    max-inline-size: 66ch;
    line-height: 1.5;
}

blockquote {
    max-inline-size: 45ch;
    line-height: 1.9;
}

ul {
    /** display: inline; **/
    margin: 0 0 0 auto;
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin: 20px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    text-decoration: underline;
    text-decoration-style: unset;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--link-hover);
}

#theme-menu {
    display: inline-block;
    position: relative;
}

#theme-menu:hover > li {
    display: block;
    background-color: white;
}

.theme-toggle {
    display: none;
    color: var(--text-color);
    border: none;
    background: none;
    padding: 0;
}

.theme-toggle:hover {
    background: blue;
}

#page404 {
    body {
        margin: 0;
        background-color: var(--404-primary-background);
        color:  var(--404-text-color);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
    }
    div {
        border: 1px solid  var(--404-border-color);
        padding: 40px;
        max-width: 600px;
        width: 90%;
    }
    h1 {
        font-size:  var(--404-header-font-size);
        margin-bottom: 20px;
        color:  var(--404-accent-color);
    }
    p {
        margin-bottom: 30px;
    }
    a {
        color:  var(--404-text-color);
        text-decoration: none;
        border-bottom: 1px solid  var(--404-border-color);
        padding-bottom: 2px;
    }
    a:hover {
        color:  var(--);
        background-color:  var(--404-accent-color);
    }
}
